*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:linear-gradient(135deg,#111,#1f1f1f,#111);
    color:white;
    font-family:Arial,sans-serif;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:25px;
}

h1{
    font-size:50px;
    color:#ff4d88;
    margin-bottom:20px;
}

p{
    font-size:22px;
    line-height:1.8;
    max-width:700px;
}

button{
    margin-top:40px;
    padding:18px 40px;
    border:none;
    border-radius:50px;
    background:#ff4d88;
    color:white;
    font-size:20px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
    background:#ff6699;
}
.hero{
    animation: aparecer 2s;
}

@keyframes aparecer{
    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

button:hover{
    box-shadow:0 0 25px #ff4d88;
}
