*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:linear-gradient(135deg,#111,#1f1f1f,#111);
    color:white;
    font-family:Arial,sans-serif;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:25px;
}

h1{
    font-size:50px;
    color:#ff4d88;
    margin-bottom:20px;
}

p{
    font-size:22px;
    line-height:1.8;
    max-width:700px;
}

button{
    margin-top:40px;
    padding:18px 40px;
    border:none;
    border-radius:50px;
    background:#ff4d88;
    color:white;
    font-size:20px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
    background:#ff6699;
}
.hero{
    animation: aparecer 2s;
}

@keyframes aparecer{
    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

button:hover{
    box-shadow:0 0 25px #ff4d88;
}
.stars{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:
    radial-gradient(white 1px,transparent 1px),
    radial-gradient(white 2px,transparent 2px),
    radial-gradient(white 1px,transparent 1px);

    background-size:80px 80px,
                    150px 150px,
                    220px 220px;

    opacity:.5;

    z-index:-1;
}
button{
    animation: pulsar 2s infinite;
}

@keyframes pulsar{

    0%{
        transform:scale(1);
        box-shadow:0 0 10px #ff4d88;
    }

    50%{
        transform:scale(1.08);
        box-shadow:0 0 30px #ff4d88;
    }

    100%{
        transform:scale(1);
        box-shadow:0 0 10px #ff4d88;
    }

}
.heart{
    position:fixed;
    bottom:-20px;
    color:#ff4d88;
    font-size:20px;
    animation: subir 8s linear infinite;
    z-index:-1;
}

@keyframes subir{
    0%{
        transform:translateY(0);
        opacity:0;
    }

    20%{
        opacity:1;
    }

    100%{
        transform:translateY(-110vh);
        opacity:0;
    }
}
.coracao{
    position: fixed;
    bottom: -20px;
    color: #ff4d88;
    font-size: 25px;
    animation: subirCoracao 8s linear infinite;
    z-index: -1;
}

@keyframes subirCoracao{
    0%{
        transform: translateY(0) scale(1);
        opacity: 0;
    }

    20%{
        opacity: 1;
    }

    100%{
        transform: translateY(-110vh) scale(1.5);
        opacity: 0;
    }
}
